.blockchain {
  background-color: #F90;
}
g.blockchain rect.label-container {
  fill: #F90;
}

.block {
  background-color: #FFC;
}
g.block rect.label-container {
  fill: #FFC
}

.transaction {
  background-color: #CCF;
}
g.transaction rect.label-container {
  fill: #CCF;
}

h3.title {
  margin-bottom: 0;
  margin-top: 0;
}
